* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "zuume", sans-serif;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("Fontes/Zuume/Zuume-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #ffd000;
  --secundaria: #ffd001;
  --escuro: #000000;
  --maisEscuro: #1c190a;
  --claro: #f0eee2;
  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  background-color: #1c190a;
  color: var(--claro);
}

.navegacao {
  background: rgba(0, 0, 0, 0.425);
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-family: "zuume" sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

/* after -> depois / before -> antes */

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Slides no fundo */
.slides {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Overlay escuro */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.95);

  background: linear-gradient(
    to bottom,
    rgba(28, 25, 10, 0.5) 0%,
    rgba(28, 25, 10, 0.75) 35%,
    rgba(28, 25, 10, 0.9) 70%,
    rgba(28, 25, 10, 1) 100%
  );
}

/* Conteúdo por cima */
.cabeçalho {
  position: relative;
  z-index: 2;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cabeçalho .logo {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 50%;
  border: 4px solid var(--vidro);
  box-shadow: 0 0 20px rgba(229, 205, 70, 0.3);
  animation: flutuar 5s ease-in-out infinite;
}

.cabeçalho h1 {
  font-size: 4.5rem;
  color: var(--primaria);
  font-weight: 800;
  letter-spacing: 2.5px;
}

.cabeçalho-sub-titulo {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}

/* Indicadores */
.indicators {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  background: #aaa;
  border-radius: 50%;
}

.dot.active {
  background: var(--primaria);
}

h1 {
  font-size: 4.5rem;
  align-items: center;
  color: var(--primaria);
  font-weight: bold;
  font-family: "zuume" sans-serif;
  font-weight: 800;
  letter-spacing: 2.5px;
}

.cabeçalho-sub-titulo {
  font-size: 2rem;
  color: var(--claro);
  display: flex;
  text-align: center;
  font-family: "zuume" sans-serif;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.sobre {
  padding: 6rem 2rem;
}

.Sobre-Titulo {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 20px;
  font-family: "zuume" sans-serif;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.Sobre-Nós-Tx {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 255, 255, 0.05);
}

.Sobre-Paragrafo {
  text-align: center;
}

.sub-paragrafo {
  font-size: 1.5rem;
  text-align: center;
  font-family: "zuume" sans-serif;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.Sobre-Nós-Tx p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-family: "zuume" sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.projetos {
  padding: 6rem 2rem;
}

.Projetos-Titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-family: "zuume" sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.Projetos-Conteudo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.Projetos-Conteudo-Caixa {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}

.Projetos-Conteudo-Caixa:hover {
  box-shadow: 0 10px 20px rgba(229, 205, 70, 0.3);
  transform: translateY(-10px) scale(1.03);
}

.Projetos-Imagem1 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.Projetos-Imagem2 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.Projetos-Imagem3 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.info-projetos {
  margin-bottom: 5px;
  font-family: "zuume" sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.caixa-textos-projeto {
  padding: 1.5rem;
}

.paragrafo-projetos {
  color: rgba(226, 232, 240, 0.8);
  line-height: 1.25rem;
  font-family: "zuume" sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.Contatos {
  padding: 6rem 2rem;
}

.contatos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-family: "zuume" sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
  font-size: 1rem;
  font-family: "zuume" sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  outline: none;
}

.campo-form:focus {
  border-color: var(--secundaria);
  box-shadow: 0 0 10px rgba(229, 205, 70, 0.3);
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.botao-form {
  color: var(--escuro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5s ease;
  font-size: 1rem;
  font-family: "zuume" sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(229, 205, 70, 0.3);
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(
      circle at 10% 20%,
      var(--primaria) 0%,
      transparent 20%
    ),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro);
}

@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 1020px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .navegacao {
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 100;
    font-family: "zuume" sans-serif;
    font-weight: 700;
  }

  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    font-family: "Zuume" sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
  }

  .menu-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
  }

  .cabeçalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cabeçalho-sub-titulo {
    font-size: 1.1rem;
    display: flex;
    font-family: "Zuume" sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .logo {
    width: 250px;
    height: 250px;
    display: flex;
    box-shadow: 0 0 20px rgba(229, 205, 70, 0.3);
    border-radius: 200%;
    border: 4px solid var(--vidro);
    margin: 15px;
    animation: flutuar 5s ease-in-out infinite;
  }

  h1 {
    font-size: 2.35rem;
    font-family: "Zuume" sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
  }

  .Sobre-Titulo {
    font-size: 2.5rem;
    font-family: "Zuume" sans-serif;
    font-weight: 700;
    letter-spacing: 1.2px;
  }

  .Sobre-Nós-Tx {
    padding: 2rem;
    max-width: 800px;
  }

  .sub-paragrafo {
    font-size: 1.39rem;
    font-family: "zuume" sans-serif;
    font-weight: 500;
  }

  .Sobre-Nós-Tx p {
    font-size: 0.95rem;
    font-family: "zuume" sans-serif;
    font-weight: 300;
    letter-spacing: 0.4px;
  }

  .Projetos-Titulo {
    font-size: 2.5rem;
    font-family: "Zuume" sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .info-projetos {
    font-size: 1.1rem;
    font-family: "zuume" sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .paragrafo-projetos {
    font-size: 1rem;
    font-family: "zuume" sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .Contatos {
    padding: 3.5rem 0.5rem;
  }

  .contatos-titulo {
    font-size: 2.5rem;
    font-family: "Zuume" sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .botao-form {
    font-size: 1.2rem;
    font-family: "zuume" sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .formulario-contato {
    font-size: 2rem;
    font-family: "zuume" sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
  }

  /*carrossel mobile*/
  .Projetos-Conteudo {
    display: flex;
    overflow: hidden;
    /* Só o carrossel pode ter rolagem lateral */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;
    scroll-behavior: smooth;
    padding: 1rem;
  }

  .Projetos-Conteudo-Caixa {
    border-radius: 16px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    transition: all 0.5s ease;
    flex: 0 0 100%;
    scroll-snap-align: center;
    transform: scale(0.85);
  }

  .Projetos-Conteudo-Caixa.ativo {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(229, 205, 70, 0.3);
    /* Luz ao redor */
  }

  /* Indicadores (bolinhas) */
  .indicadores {
    text-align: center;
    margin-top: 10px;
  }

  .indicadores span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #666;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .indicadores span.ativo {
    background-color: #e5cd46;
    /* Cor da luz */
  }
}
